{
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote":  true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "useTab": false,
    "arrowParens": "always",
    "endOfLine": "auto"
}